* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body{
    font: 400 120.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
	padding: 20px 100px 20px 100px;
	background-color: #FAFAFA;
}

header{
    font-size: 50px;
}

div#leftPart{
	height: 100%;
	width: 250px;
	float: left;	
	overflow : auto;
}

header input{
    margin-left: 10px;
    width: 500px;
    height: 30px;
    padding: 5px 5px 5px 25px;
    color: #666;
    border: 1px solid #CCC;
    border-radius: 4px;
}

div#resultDiv{
    font-size: 15px;
}

ul{
	list-style-type: none;
	margin : 5px 5px;
	padding : 0px;
}

li{
	padding: 0px;
	margin : 0px;
}

li.repository:hover{
	background-color: #EEF8FE;
	cursor: pointer;
}


div#displayInfo{
	height: 100%;
    width: 800px;
    width: -moz-calc(100% - 300px);
    float: left;
    padding-left: 10px;
}

div#displayInfo p{
    text-align: left;
}

div#testGalleria{
    width: 100%;
    height : 30%;
}

div#resultCollaborator{
    width: 100%;
    padding: 5px;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
}

div#second{
    width: 100%;
    height: 70%;
    padding: 5px;
    overflow: auto;
}

div#resultCollaborator a{
    display: inline-block;
    margin: 5px;
    float: center;
}

div#resultCollaborator a, div#resultCollaborator img{
    height: 100px;
    width: 100px;
}

div#resultCollaborator img{
    opacity:0.40;
    filter:alpha(opacity=40);
}

div#resultCollaborator img:hover{
    opacity:1;
    filter:alpha(opacity=100);
}

p#pieTitle, p#barTitle{
    margin-top: 50px;
}

#holder, #barHolder{
    color: #fff;
    width: 100%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

